h1= title
script(src='/nowjs/now.js')
script 
    $(document).ready(function() {
        webcbr.init();
    });
p #{title}
div.comicnav
    a(class='prev',fileName=firstFile,bookName=currentBook) Previous Page
    div.fullnav
    a(class='next',fileName=firstFile,bookName=currentBook) Next Page 
    br(clear='all')/
div(class='placeholder')
       img(src='/viewImage/'+currentBook+'/'+firstFile,onclick='$("a.next").click()')
div.comicnav
    a(class='prev',fileName=firstFile,bookName=currentBook) Previous Page
    div.fullnav
    a(class='next',fileName=firstFile,bookName=currentBook) Next Page 
br(clear='all')/
