h1= title
p #{title}
br/
div(class='placeholder')
   img(src='/viewImage/'+currentBook+'/'+firstFile) 
a(class='prev',fileName=firstFile,bookName=currentBook) Previous Page
|
a(class='next',fileName=firstFile,bookName=currentBook) Next Page 
